
@font-face {
    font-family: Inter;
    src: url("../../assets/fonts/Inter-Regular.ttf");
}
.background {
    display: flex;
    font-family: Inter;
    text-decoration: none;
    height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    background-color: #A7EDA5;
    width: 33%;
    align-items: center;
    justify-items: center;
}

.right {
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: column;
    width: 66.66%;
}
.logo {
    font-size: 5vh;
    margin-top: 10%;
}
.topDrinkers {
    font-size: 5vh;
    margin-top: 5%;
}
.container {
    width: fit-content;
    height: 10%;
    display: flex;
    margin: 0 0 0 0;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    background-color: #A7EDA5;
    margin-top: 140%;
    font-size: 2.5vh;
}

.containerButton {
    width: 80%;
    height: 10%;
    display: flex;
    margin: 0 0 0 0;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    background-color: #A7EDA5;
    align-self: flex-end;
    justify-self: center;
    font-size: 2.5vh;
    justify-content: center;
}
.pulseButton {
    position: relative;
    display: block;
    width: 100%;
    font-size: 3vh;
    font-family: Inter;
    margin-left: -25%;
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: black;
    border: none;
    border-radius: 150px;
    background: #00C896;
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px rgb(170, 207, 252,1);
    animation: pulse 1.5s infinite;
}
.pulseButton:hover {
    animation: none;
}


@keyframes pulse {
    0% {
        transform:scale(0.9);
    }
    70% {
        transform : scale(1);
        box-shadow: 0px 0px 0px 50px rgb(170, 207, 252,0);
    }
    100% {
        transform : scale(.9);
        box-shadow: 0 0 0 0 rgb(170, 207, 252,0);
    }
}

.leadersList {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 75%;
    font-size: 3vh;
}
.fail {
    margin-top: 20%;
    justify-self: center;
    align-self: center;
}