@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto-Medium.ttf");
}


.site-content{
    background-image: url(/frontend/src/assets/water.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:  right 25% bottom 75%;
    background-attachment: fixed;
    align-items: end;
    height: 600px;
}

.container {
    text-align: start;
    padding-top: 150px; /* adds padding to the top of the container */
    font-family: cursive;
}

/*logo home page*/
.img-thumbnail {
    display: inline-block; /* makes the image a block-level element */
    margin-right: 20px; /* adds some space to the right of the image */
}
