.userProfile {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }

.container {
    display: flex;
    margin: 20px;
  }

.sidebar {
    width: 40%;
    height: 50vh;
    font-size: 2vh;
    font-weight: 400;
    line-height: 16px;
    border-style: solid;
    border-image-repeat: round;
    border-width: 50px;
    justify-content: center;
    align-content: center;
  }

.profileImg {
    height: 120px;
    margin-bottom: 20px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
  }

.profileText {
    color: black; /* updated */
    font-family: Inter, Arial;
    font-weight: 100;
    font-size: 17px; /* updated */
    text-align: center; /* updated */
    flex-grow: 1; /* updated */
    display: flex;
    flex-direction: column;
  }

.profile {
    height: 100%;
    width: 100%;
    text-align: center;
  }

.profile h2 {
    margin: 0;
  }



.achievements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 75%;
  }

.achievementButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100px;
    margin-bottom: 30px;
    border-radius: 50px;
    background-color: #ABEDA5;
    color: black;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    position: relative;
  }

.achievementContainer {
    max-height: 100%;
    overflow-y: scroll;
    width: 90%;
    margin-left: 8%;
}
.challengeName {
    font-size: 2.7vh;
}
.challenge {
    margin-top: 3%;
    font-size: 1.5vh;
}
.description {
    display: flex;
    flex-direction: column;
}
.achievementButtonEarned {
    background-color: #ABEDA5;
    position: relative;
}

.edit {
    width: 2%;
    height: 4%;
    margin-top: 2%;
    margin-right: 3%;
}
.editPhoto {
    width: 200%;
    height: 200%;
}
.achievementButton {
    background-color: #EDEDED;
}

.star {
    position: absolute;
    top: 50%; /* position the star in the middle of the button vertically */
    left: 7%; /* position the star 350px from the right edge of the button */
    transform: translateY(-50%); /* center the star vertically */
    height: 75%;
    width: 10%;
    background-color: #888888;
    clip-path: polygon(
      50% 0%, /* top center */
      61% 35%, /* top right */
      98% 35%, /* center right */
      68% 57%, /* bottom right */
      79% 91%, /* bottom center */
      50% 72%, /* bottom left */
      21% 91%, /* bottom right */
      32% 57%, /* top left */
      2% 35%, /* center left */
      39% 35% /* top right */
    ); /* define the shape of the star using the clip-path property */
}
.starAchieved {
    background-color: #00C896;
}

  