.area {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
}
.area:hover { 
    transform: scale(1.1);
    border: 10px solid #00c896;
}
.imageArea {
    width: 80%;
    height: 80%;

}

.imageArea:hover {
    -webkit-filter: drop-shadow(1px 1px 0 #00C896)
    drop-shadow(-1px -1px 0 #00C896);
    filter: drop-shadow(1px 1px 0 #00C896)
    drop-shadow(-10px -10px 0 #00C896);
}

.name {
    font-size: 4vh;
    margin-bottom: 2%;
}

.here {
    font-size: 3.5vh;
    text-decoration: underline;
    color:#0f7452;
}