@font-face {
    font-family: Inter;
    src: url("../assets/fonts/Inter-Regular.ttf");
}

.navbar-brand img {
    position: relative;
    border-radius: 5%;
    margin-left: -5%;
    margin-top: -5%;
}

#myNavbar li{
    margin-top: 3%;
}
.signUp {
    font-size: 2.5vh;
}