
@font-face {
	font-family: Inter;
	src: url("../assets/fonts/Inter-Regular.ttf");
}

.siteHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background-color: #ededed;
	color: black;
	margin-bottom: 1%;
}

.siteHeader a, a:link, a:visited, a:focus, a:hover, a:active {
	text-decoration: none;
	color: #000;
	font-family: Inter;
	font-size: 3vh;
}
ul#horizontalList {
	min-width: 696px;
	height:6vh;
	list-style: none;
	display: flex;
	align-items: center;
	}
ul#horizontalList li {
    display: inline;
	height: 100%;
	margin-right: 8%;
	margin-top: 5%;
}
.imgArea {
	height: 218px;
	margin-left: -15%;
	margin-top: -14%;
	height: 240%;
}